# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/UIEngine
/DebugLibrary/x64
/UIEngine/x64
/x64
*.zip
/planning.json
/ReleaseOut/bin
/ReleaseOut/includes
/ReleaseOut/lib
/ReleaseOut/includes/components/component.base.h
/ReleaseOut/includes/components/component.window.h
/ReleaseOut/includes/engine.define.h
/ReleaseOut/includes/engine.h
/ReleaseOut/includes/engine.logic.h
/ReleaseOut/includes/engine.render.h
/ReleaseOut/includes/engine.uimanager.h
/ReleaseOut/includes/pch.h
